* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

:root {
    --font-family: "Poppins", sans-serif;
}
body{
    font-family: var(--font-family);
    background-image: linear-gradient(rgba(4, 9, 30, .6), rgba(4, 9, 30, .6)), url(image/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    width: 1200px;
    margin: auto;
}
#top {
    background-image: linear-gradient(dodgerblue, rgb(10, 50, 90));
}

/* navigation code hear */
#navigation {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* logo area code hear */
#logo-area>img {
    width: 65px;
    height: 68px;
}
/* menu area code start hear */
#menu-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 70px;
}
#menu-area>li {
    padding: 15px 0;
}
#menu-area>li>a {
    padding: 15px 15px;
    font-size: 18px;
    color: white;
    position: relative;
    margin: 0 5px;
}
#menu-area>li>a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fff;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
#menu-area>li>a:hover::before {
    width: 100%;
}
/* header container code start hear */
.h1{
    text-align: center;
    font-size: 50px; 
    padding: 240px;
    padding-bottom: 25px;
    color: #fff;
}
.p{
    text-align: center;
    color: #fff;
    padding-bottom: 250px;
}
/* first section code start here */
#first-section{
    padding-top: 250px;
    background-color: #fff;

}
.img{
    padding: 50px;
}
